/* custom font family */
@font-face {
  font-family: 'GreatVibes';
  src: url('../fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
}
:root{
  --font-primary: 'GreatVibes';
  --font-secondary: 'Lobster';
  --gold-color: #dde751f3;
}

html{
    font-size: 16px;
    background-image: url('../images/pack-beach-wallpaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  font-family: var(--font-secondary);
  color: var(--gold-color);
  font-size: 8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  margin-bottom: -.5rem;
  margin-top: -.5rem;
}

/* Estilos para pantallas grandes */
img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para pantallas medianas o pequeñas */
  @media (max-width: 768px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 1200px) {
    img {
      max-width: 300px;
      height: 250px;
    }
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



#row {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffff;
    padding: 10px;

}




.row-bkg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.col{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.poke-card{
    width: 20rem;
    height: 30rem;
    padding: auto;
    background-color: #c42424;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgb(129, 20, 20);
    border: .3rem solid rgba(185, 58, 20, 0.404);
    transition: all.2s ease-in-out;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 242, 242);
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin: .5rem .5rem .5rem;
    border: .5rem solid rgba(219, 216, 216, 0.719);
    box-shadow: 3px 5px 5px 6px rgb(105, 105, 104) inset;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.col-buttons{
  display: flex;
  flex-direction: column;
}

.row-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* make a circle div */
.circle{
  background-color: rgb(118, 199, 253);
  border-radius: 50%;
  padding: 2rem  2rem;
  box-shadow: 1px 1px 5px rgba(255, 241, 241, 0.8) inset;
  margin-left: 0.3rem;
  cursor: pointer;
}

.square{
  /* background-color: red; */
  width: 3rem;
  height: 0.9rem;
  border-radius: 35%;
  box-shadow: 5px 9px 2px rgba(49, 41, 41, 0.397);
  
}

.square.orange{
  padding: 0.3rem 2rem;
  background-color: #f0cc8a;
  margin-left: 1rem;
}
.square.red{
  /* padding: 0.5rem 1rem 1rem ; */
  padding: 0.3rem 2rem;
  margin-left: 1rem;
  background-color: #e98f8c;
  }

  .plus{
    margin-top: -1rem;
    margin-left: -1rem;
    font-size: 10rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem .5rem  #000000f6;
  }

.square-bg{
  margin-top: .5rem;
  padding: 1.5rem 4.5rem;
  background-color: #e2d986;
  border-radius: 20px;
  box-shadow: 1px 2px 5px rgba(150, 145, 145, 0.8) inset;
}

.container-fluid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#ash{
  height: 1000px;
}